<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <!-- Date Event Service Integration last ran -->
    <add key="LastRun" value="17/07/2016 15:11:28" />

    <!-- Path to the xml file containg Excel mapping information -->
    <add key="MappingXMLPath" value="Model/ExcelMapping.xml" />

  </appSettings>
</configuration>